-
    var menu = [  
        {
            name: "Home",
            url: "index.html"
        },
        {
            name: "Why MISOCIAL",
            url: "#"
        },
        {
            name: "Features",
            url: "#"
        },
        {
            name: "Articles",
            url: "#"
        },
        {
            name: "Pricing",
            url: "#"
        }
    ]

-
    var cards = {
        free: {
            name: "Personal",
            description: "Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt ut. Labore et dolore magna aliqua. quis nostrud exercitation ullamco laboris. Ea commodo consequat.",
            price: "0",
            src: "img/cosmo-robot",
            alt: "cosmo robot",
            url: "#"
        },
        home: {
            name: "Personal",
            description: "Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt ut. Labore et dolore magna aliqua. quis nostrud exercitation ullamco laboris. Ea commodo consequat.",
            price: "29",
            src: "img/robot",
            alt: "robot",
            url: "#"
        },
        business: {
            name: "Personal",
            description: "Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt ut. Labore et dolore magna aliqua. quis nostrud exercitation ullamco laboris. Ea commodo consequat.",
            price: "49",
            src: "img/racet",
            alt: "racet",
            url: "#"
        }
    }
